.package-offer-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    max-width: 175px;
    height: 140px;
    padding: 15px;
    margin: 10px;

    text-align: center;
    font-weight: bold;

    background: linear-gradient(135deg, #ffd521, #ffe531)
}

.package-offer-card__icon {
    opacity: 0.75;
    height: 60px;
}

#mbd-info-container {
    display: flex;
    flex-direction: row;
}

#mbd-info-container__location-time {
    flex: 1;
    margin-left: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#mbd-info-container__text {
    flex: 2
}

.mbd-info-card {
    position: relative;
    overflow: hidden;
}
.mbd-info-card__text {
    position: relative;
    z-index: 1;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(rgba(255, 255, 255, 1.0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.0));
}
.mbd-info-card__text h2 {
    margin: 0;
    margin-bottom: 10px;
}
#mbd-info-card__map-container{
    flex: 1;
}
#mbd-info-card__map {
    position: absolute;
    top: -75%;
    left: -100%;
    width: 300%;
    height: 300%;
    transform: scale(0.75);
}


/* Mobile */
@media screen and (max-width: 700px) {
    #mbd-info-container {
        flex-direction: column;
    }

    #mbd-info-container__text {
        margin-bottom: 25px;
    }

    #mbd-info-container__location-time {
        margin: 0;
    }
    #mbd-info-card__map-container {
        min-height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .package-offer-card {
        max-width: unset;
        margin: 15px 0;
        box-sizing: border-box;
    }
}
