/* Wrappers and containers */
.center {
    text-align: center;
    margin: auto;
}

.text-wrapper--center,
.text-wrapper {
    max-width: 500px;
}
.text-wrapper--center {
    text-align: center;
}

.content-wrapper--wide,
.content-wrapper {
    max-width: 800px;
}
.content-wrapper--wide {
    max-width: 1100px;
}

.content-block {
    margin: auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.list-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-wrap: wrap; 
}


/* Cards */
.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/* Grandients */
.line-gradient {
    height: 4px;
}
.line-gradient--half {
    width: 50%;
}
.line-gradient--helf--left {
    margin-top: 4px;
    background: linear-gradient(to left, #ffd52100, #ffd521aa);
}
.line-gradient--helf--right {
    margin-left: 50%;
    margin-bottom: 4px;
    background: linear-gradient(to right, #ffd52100, #ffd521aa);
}


/* Other */
.hideme {
    opacity: 0;
}

.yellow-line {
    display: inline-block;
    width: 100%;
    margin: 5px;

    border: 0;
    height: 3px;
    background-image: linear-gradient(
        to right,
        rgba(255, 213, 33, 0),
        rgba(255, 213, 33, 0.8),
        rgba(255, 213, 33, 0)
    );
}

.center-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-dark-background {
    color: #fff;
}


/* Background */
.sec-background-color {
    background-color: #fafafa;
}


/* Animation */
@keyframes paning-background-animation {
	0% { background-position: 0% 100%; }
	50% { background-position: 90% 100%; }
}
@keyframes paning-background-animation {
	50% { background-position: 90% 100%; }
	100% { background-position: 0% 100%; }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .list-wrapper {
        width: 100%;
        display: block;
    }
}
