/* Wrappers and containers */
.center {
    text-align: center;
    margin: auto;
}

.text-wrapper--center,
.text-wrapper {
    max-width: 500px;
}
.text-wrapper--center {
    margin: auto;
    text-align: center;
}

.content-wrapper {
    max-width: 800px;
}
.content-wrapper--wide {
    max-width: 1100px;
}

.content-block {
    margin: auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.list-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-wrap: wrap; 
}

.row-alignment-container--three,
.row-alignment-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.row-alignment-container--three {
    margin-left: -2%;
}
.row-alignment-item--three {
    width: 31.33%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.compact {
    display: inline-block;
}

.vertical-split {
    height: 15px;
    width: 1px;
    background-color: #fff;
}

.horizontal-split {
    height: 1px;
    width: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}


/* Cards */
.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card--light {
    box-shadow: 0 0px 8px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}
.card--clickable {
    cursor: pointer;
    transition: box-shadow 0.25s, transform 0.25s;
}
.card--clickable:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 5px 10px rgba(0,0,0,0.43);
    transform: translateY(-5px);
}
.card--clickable.card--light:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.2);
}


/* Grandients */
.line-gradient {
    height: 4px;
}
.line-gradient--half {
    width: 50%;
}
.line-gradient--helf--left {
    margin-top: 4px;
    background: linear-gradient(to left, #ffd52100, #ffd521aa);
}
.line-gradient--helf--right {
    margin-left: 50%;
    margin-bottom: 4px;
    background: linear-gradient(to right, #ffd52100, #ffd521aa);
}


/* Other */
.hideme {
    opacity: 0;
}

.yellow-line {
    display: inline-block;
    width: 100%;
    margin: 5px;

    border: 0;
    height: 3px;
    background-image: linear-gradient(
        to right,
        rgba(255, 213, 33, 0),
        rgba(255, 213, 33, 0.8),
        rgba(255, 213, 33, 0)
    );
}

.contain-background,
.center-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contain-background {
    height: 100%;
    width: 100%;
    background-size: contain;
}
.contain-background--limited {
    margin: auto;
    width: 75%;
}
 

.text-dark-background {
    color: #fff;
}

.link--black {
    color: #000;
}

/* Background */
.sec-background-color {
    background-color: #fafafa;
}

.grey-background {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
}

.force-grey {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.long-text {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


/* Animation */
@keyframes paning-background-animation {
	0% { background-position: 0% 100%; }
	50% { background-position: 90% 100%; }
}
@keyframes paning-background-animation {
	50% { background-position: 90% 100%; }
	100% { background-position: 0% 100%; }
}

/* Mobile */
@media screen and (max-width: 500px) {
    .list-wrapper {
        width: 100%;
        display: block;
    }
}
