.input-container {
    position: relative;
    z-index: 1;
}

.input-container img {
    position: absolute;
    top: 13px;
    left: 13px;
    width: 15px;
}

.input-with-image {
    padding-left: 35px;
}

input {
    width: 100%;
    padding: 10px 15px;
    
    border-radius: 10px;
    box-sizing: border-box;
    border: none;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 100ms;
}

input:focus {
    outline: none !important;
}