.instagram-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    overflow: hidden;
    margin: 10px;
}

.instagram-image {
    width: 100%;
    padding: 100% 0 0 0;

    background-size: cover;
    background-position: center;
}

.instagram-like-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
}

.instagram-heart {
    height: 15px;
    margin-right: 5px;
}

.instagram-like-count {
    color: #fff;
}

@media screen and (max-width: 680px) {
    .instagram-container {
        margin: 10px 0;
        max-width: unset;
    }
}
