.intro-screen__background {
    position: relative;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    
    font-family: 'Open Sans', sans-serif;
}
.intro-screen__top-content {
    padding: 35px;
    box-sizing: border-box;
    width: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0));
}
.intro-screen__text {
    display: inline-block;
    font-size: 27px;
    text-align: center;
    color: #ffd521;
}
.intro-screen__text h1{
    display: inline-block;
    width: auto;
    margin-bottom: 0;

}
.intro-screen__text--black {
    color: #000;
}

.intro-screen__scroll-down-btn {
    margin-top: 30px;
    margin-bottom: 40px;
}

.intro-screen__link-container {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    height:100%;
}

.intro-screen__link-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 225px;
    min-height: 100px;
    margin: 25px;

    overflow: hidden;
    border-radius: 15px;
}

.intro-screen__link-icon {
    position: absolute;
    bottom: -15px;
    right: -15px;
    height: 85px;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #000;
    border: 5px solid #000;
    border-radius: 65px;
    font-size: 70px;

    opacity: 0.075;
}
.intro-screen__link-icon img {
    height: 60%;
}

@media screen and (max-width: 900px) {
    .intro-screen__background {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 500px) {
    .intro-screen__text {
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .intro-screen__text {
        font-size: 15px;
    }
}