#map-section {
    position: absolute;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0;
}

#map-input input {
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
#map-input img {
    top: 23px;
}

.side-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    
    height: 100%;
    width: 325px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    background-color: #eee;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

    overflow: hidden;
    visibility: visible;

    transition: width 0.5s, opacity 0.5s, visibility 0.5s;
}

.side-bar-data {
    position: relative;

    height: 100%;
    padding: 15px;
    box-sizing: border-box;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 325px;
    
    overflow-y: hidden;
    overflow-x: scroll;

    text-align: center;
}

.map-image-wrapper {
    position: relative;
    height: 90%;
    display: inline-block;
    width: auto;
    overflow: visible;
    margin: 5vh 40px;
    box-sizing: border-box;
}

.floor-plan {
    height: 100%;
}

.side-bar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #eee;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}
.side-bar-overlay--active {
    visibility: visible;
    opacity: 1;
}


.company-list-item {
    margin-bottom: 15px;
    padding: 15px;

    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}
.company-list-item.open {
    cursor: unset;
}
.company-list-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.company-list-item.open:hover {
    box-shadow: none;
}

.company-list-item__info {
    display: none;
}
.company-list-item__image {
    width: 100%;
    max-width: 200px;
    margin: auto;
    height: 75px;

    box-sizing: border-box;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.map-marker-container {
    position: absolute;
    top: 50%;
    left: 50%;
}
.map-marker-container:hover {
    z-index: 2;
}

.marker-dot {
    width: 0.5vh;
    height: 0.5vh;
    margin: auto;
    margin-top: 10px;
    border-radius: 100%;
    border: 0.25vh solid #ffd521;
}

.map-marker {
    position: relative;
    height: 4.5vh;
    width: 4.5vh;
    z-index: 1;

    border: 0.35vh solid #ffd521;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;

    border-radius: 5vh 5vh 0 5vh;

    background-color: #fff;
    font-weight: bold;
    font-size: 1.75vh;
    cursor: pointer;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    opacity: 0.75;

    transform: rotate(45deg);
}
.map-marker.active {
    z-index: 2;
    background-color: #ffd521;
    color: #fff;
    opacity: 1;
}

.map-marker-content {
    transform: rotate(-45deg);
}

.map-marker-info-bubble {
    opacity: 0;

    position: absolute;
    bottom: 135%;
    height: 50px;
    width: 100px;
    left: 50%;
    transform: translate(-50px, 10%);

    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    transition: opacity .2s ease, transform 0.5s ease;
    pointer-events: none;
}
.map-marker-info-bubble.visible {
    z-index: 999;
    opacity: 1;
    transition: opacity .3s ease, transform 0.3s ease;
    transform: translate(-50px, -20%);
    pointer-events: all;
}
.map-marker-info-bubble img {
    max-width: 100%;
    max-height: 100%;
}

.map-marker-info-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}

#show-map-btn {
    display: none;
    margin-bottom: 20px;
}
#find-companies-btn {
    display: none;
    position: absolute;
    z-index: 1;
    left: 25px;
    right: 25px;
    bottom: 25px;
}

#map-scroll-indicator {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 50%;

    height: 40px;
    transform: translate(0, -50%);
    pointer-events: none;

    animation: arrow-focus 1s infinite;
    transition: opacity 1s, visibility 1s;
}
#map-scroll-indicator.removed {
    opacity: 0;
    visibility: hidden;
}

#qr-code {
    z-index: 1;
    display: none;
}
#qr-code .map-marker {
    opacity: 1;
    width: 4vh;
    height: 4vh;
    transform: rotate(0deg);
    border-radius: 7px;
    border-color: #aaaaaa;

    background-image: url('/img/qrcode.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.qr-code-perspective-arrow {
    position: absolute;
    height: 3vh;
}
.qr-code-perspective-arrow img {
    height: 100%;
    animation: arrow-focus 1s infinite;
}

.qr-code-perspective-arrow.left {
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-200%);
}
.qr-code-perspective-arrow.right {
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(200%) rotate(180deg);
}
.qr-code-perspective-arrow.top {
    top: 0;
    left: 50%;
    transform: translateY(-150%) translateX(-50%) rotate(90deg);
}
.qr-code-perspective-arrow.bottom {
    bottom: 0; 
    left: 50%;
    transform: translateY(150%) translateX(-50%) rotate(-90deg);
}


@media screen and (max-width: 1400px) {
    #map-scroll-indicator {
        opacity: 1;
        visibility: visible;
    } 
}

@media screen and (max-width: 700px) {
    #show-map-btn {
        display: block;
    }
    #find-companies-btn  {
        display: block;
    }

    .side-bar {
        width: 100%;
    }
    .side-bar.hidden {
        width: 150px;
        visibility: hidden;
        opacity: 0;
    }

    .map-container {
        left: 0;
    }
}

@keyframes arrow-focus {
    0% { 
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}