
<!--
<div class="notice-banner">
    <div class="notice-text">
        <br/>
        Tyvärr är ansökan stängd för iår, men det finns fortfarande möjlighet till andra samarbeten med medieteknik. 
        Kontakta NLG <a target="_blank" href="https:/www.facebook.com/NLGmedieteknik/">här</a>!
    </div>
</div>
-->
<div class="fixed-bg" style="background-image: url('img/background/flower_smaller.png');">
    <br>
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-click="scrollTo('#mediatechnologySection')">
            <div class="companyHeaderMenu" style="border-color: #FFD521; background-color: black; opacity: 0.7">
                <h2>Om oss</h2>
            </div>
            <!--<img src="img/icons/down3.svg" style="width: 245px; padding-left: 50px; margin-top: 0;padding-top: 0;">-->
        </div>
        <div  ng-click="scrollTo('#packageSection')">
            <div class="companyHeaderMenu" style="border-color: #FFD521; background-color: black; opacity: 0.7">
                <h2>Deltag</h2>
            </div>
            <!--<img src="img/icons/down3.svg" style="width: 245px; padding-left: 50px; margin-top: 0;padding-top: 0;">-->
        </div>
        <div ng-click="scrollTo('#fairSection')">
            <div class="companyHeaderMenu" style="border-color: #FFD521; background-color: black; opacity: 0.7">
                <h2>Mässan</h2>
            </div>
            <!--<img src="img/icons/down3.svg" style="width: 245px; padding-left: 50px; margin-top: 0;padding-top: 0;">-->
        </div>
        <div ng-click="scrollTo('#companyContactsSection')">
            <div class="companyHeaderMenu" style="border-color: #FFD521; background-color: black; opacity: 0.7">
                <h2>Företagskontakter</h2>
            </div>
            <!--<img src="img/icons/down3.svg" style="width: 245px; padding-left: 50px; margin-top: 0;padding-top: 0;">-->
        </div>
    </div>
    <img id="downArrow" style="" src="img/icons/arrowDown.png" ng-click="scrollDown()" alt="" />
</div>





<div id="mediatechnologySection" class="" style="background-color:white; display:flex; flex-direction:column; align-items:center;padding:50px 15px; padding-left: 30px;">

    <div class="" style="position: relative;">

        <img style="position: absolute; top: -10px; right: -15px;  width:150px;height:auto; -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg);transform: rotate(180deg); z-index: 0" src="img/icons/x_lb_corner.svg" alt=""/>
        <img style="position: absolute; bottom: 0px; left: -30px; width:150px;height:auto; z-index: 0" src="img/icons/x_lb_corner.svg" alt=""/>  

        <div class="hideme" style="opacity: 0;">
            <h1>Vilka är vi?</h1>

            <div id="companyPresentation" style="white-space: pre-line; ">
                    Våra ingenjörsstudenter grundar flest tech-företag på hela KTH. Vi har masterprogram inom interaktiva medier, datalogi och management. Många av oss sysslar med bland annat system- webb- och apputveckling. Interaktionsdesigners, grafiker och till och med spelutvecklare.

                    Hos oss hittar ni blivande projektledare inom IT och studenter som älskar management. Vi medietekniker är speciellt bra på att kommunicera mellan teknik- och business-avdelningen. På medieteknik kan man inrikta sig mot en datalogimaster eller mer frontend-baserad programmering och människa-data interaktion. Medietekniker har en bred bas då vi innan vår inriktningen fått läsa båda dessa delar. 

                    Alla de här studenterna, kommer att vara på vår branschdagsmässa den 28e februari 2019, där vi vill att ni deltar. Att synas på Medias branschdag är en otroligt bra möjlighet för er att marknadsföra ert företag och för oss studenter är branschdagen ett uppskattat tillfälle kunna nätverka med morgondagens arbetsgivare.

                    Medias branschdag är årets bästa tillfälle för er att visa upp er verksamhet mot potentiella medarbetare eller framtida kunder.
                <h2 style="text-align:left">Välkommen!</h2>
            </div>
        </div>
    </div>
</div>


<div id="packageSection" class="fixed-bg" style="background-image: url('img/background/blueflower_blurred.png'); background-color: #6668a7">
    <div class="" style="padding-bottom: 20px; max-width: 1100px;z-index: 1;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;margin: 0 auto;position: relative;flex-direction: column; color:white;">
        <h1>Utställarpaketet</h1>
        <hr class="titleLineWhite"></hr>
        <h3 style="text-align:center">I utställarpaketet ingår:</h3>
        <div class="" style="display: flex;align-items: center;flex-wrap: wrap;justify-content: center;padding: 20px 0;">
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/booth.png" alt="" />
                <h4>Monterplats: 6m²</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/food.png" alt="" />
                <h4>Lunch och fika för två företagsrepresentanter</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/host2.png" alt="" />
                <h4>Personlig företagsvärd</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/marketing.png" alt="" />
                <h4>Aktiv marknadsföring</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/coffee.png" alt="" />
                <h4>Tillgång till företagslounge</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/party.png" alt="" />
                <h4>Två sittningsbiljetter till era representanter</h4>
            </div>
        </div>
        <h4 style="text-align: center;">Kontakta oss gärna för anmälan, frågor eller information om våra andra paket!</h4>
        <a ng-href="#contact#teamSection" class="myButton" style="background-color:white;">Till kontakt</a>
    </div>
</div>


<div id="fairSection" class="" style="padding:50px 15px;background-color:white; align-content: center;">
    <div class="hideme" style="align-content: center; text-align: center; opacity: 0; padding: 0; margin:0;">
        <h1 style="padding:10px 20px; font-size:50px; color:black; text-align:center; font-weight:100; padding-bottom: 0; margin-bottom: 0">Mässan</h1>
        <img style="width: 70%; height:20px;z-index align-self: center; text-align: center; 0" src="img/icons/divider.svg" alt=""/>
    </div>

    <div class="hideme" style="opacity: 0; display:flex;justify-content:center;align-items:flex-start;flex-wrap:nowrap;height:100%;margin-top:20px;">
        <div style="text-align:center;width:200px">
            <h2>När?</h2>
            <div style="font-weight:bold;white-space:pre-line">28e februari 2019
                10:00 - 17:00
            </div>
        </div>
        <div class="" style=" text-align:center;width:200px">
            <h2>Var?</h2>
            <div style="font-weight:bold;white-space:pre-line">Nymble, KTH, Drottning Kristinas väg 15 <a target="_blank" style="vertical-align:middle" href="http://goo.gl/maps/xqXnQJQV2JQ2"><img style="width:15px;" src="img/icons/link.svg" alt="" /></a>
                <img src="img/icons/subway.png" alt="" style="width:20px;height:auto;display:inline-block;vertical-align:middle" /> Tekniska Högskolan
            </div>
        </div>
    </div>
	</br>
    <div class="hideme" style="opacity: 0; margin:0 auto;max-width:800px;white-space:pre-line">
        Mässan startar den 28e februari 2019 och innehåller bland annat en heldag med inspirerande föreläsningar och spännande företag. Vi kommer att hålla till i THS kårhus, Nymble, som ligger på Drottning Kristinas väg 15 vid Kungliga Tekniska Högskolan.

        Under dagen är mässan öppen för alla studenter på KTH, men vi riktar oss särskilt mot medieteknikstudenter då dessa har ett brett intresse för design, programmering, och entreprenörskap. Ett perfekt tillfälle för ditt företag att hitta studenter för framtiden!

        Dagen avslutas med en stor sittning där era företagsrepresentanter har möjlighet att komma och äta och mingla med våra studenter i en mer avslappnad miljö.
    </div>
</div>


<div id="companyContactsSection" class="" style="min-height:400px;padding:50px 15px;background-color:white;display:flex;flex-direction:column;align-items:center;justify-content:center">
    <h1 style="text-align:center">Våra företagsansvariga</h1>
    <hr class="titleLineYellow"></hr>
    <br>
    <div class="" style="display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px">
        <div ng-repeat="person in getTeamMembers()" style="max-width:250px;height:auto;padding: 0 0;text-align:center" class="">
            <div ng-if="person.position.includes('Företagsansvarig')">
                <ng-include src="'partials/profile.html'"></ng-include>
            </div>
        </div>
    </div>
    <p style="text-align:center;font-size:16px;">
        Söker du någon annan? Klicka <a href="#contact" style="color: #dcb510;">här!</a>
    </p>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
