<div class="intro-screen__background" style="background-image:url('img/background/flower_dark_blur.jpg')">
    <div class="intro-screen__top-content">
        <div class="intro-screen__text">
            <h1 style="font-weight: 900">FÖR FÖRETAG</h1>
            <hr class="yellow-line">
        </div>
    </div>
    <div class="intro-screen__link-container">
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#mediatechnologySection')">
            <h2>Om oss</h2>
            <div class="intro-screen__link-icon">
                ?
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#packageSection')">
            <h2>Deltag</h2>
            <div class="intro-screen__link-icon">
                <img style="height: 75%" src="../img/icons/tickets_black.svg" alt="">
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#fairSection')">
            <h2>Mässan</h2>
            <div class="intro-screen__link-icon">
                <img src="../img/icons/booth_black.svg" alt="">
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#companyContactsSection')">
            <h2>Företagskontakter</h2>
            <div class="intro-screen__link-icon">
                <img src="../img/icons/profileIcon_black.svg" alt="">
            </div>
        </div>
    </div>
    <div ng-click="scrollDown()" class="btn btn--icon intro-screen__scroll-down-btn">
        <img class="btn--icon-image" src="img/icons/arrows/down_black.svg"  alt="" />
    </div>
</div>

<div class="content-block content-wrapper">
    <div id="mediatechnologySection" class="hideme">
        <h1>Vilka är vi?</h1>
        <div class="line-gradient line-gradient--half line-gradient--helf--right"></div>
        <div>
            Våra ingenjörsstudenter grundar flest tech-företag på hela KTH. 
            Vi har masterprogram inom interaktiva medier, datalogi och management. 
            Många av oss sysslar med bland annat system- webb- och apputveckling. 
            Interaktionsdesigners, grafiker och till och med spelutvecklare.

            Hos oss hittar ni blivande projektledare inom IT och studenter som 
            älskar management. Vi medietekniker är speciellt bra på att kommunicera 
            mellan teknik- och business-avdelningen. På medieteknik kan man inrikta 
            sig mot en datalogimaster eller mer frontend-baserad programmering och 
            människa-data interaktion. Medietekniker har en bred bas då vi innan 
            vår inriktningen fått läsa båda dessa delar. 

            Alla de här studenterna, kommer att vara på vår branschdagsmässa 
            den 4e februari 2020, där vi vill att ni deltar. Att synas på 
            Medias branschdag är en otroligt bra möjlighet för er att marknadsföra 
            ert företag och för oss studenter är branschdagen ett uppskattat 
            tillfälle kunna nätverka med morgondagens arbetsgivare.

            Medias branschdag är årets bästa tillfälle för er att visa upp er 
            verksamhet mot potentiella medarbetare eller framtida kunder.
            <br><br>
            Välkommen!
        </div>
        <div class="line-gradient line-gradient--half line-gradient--helf--left"></div>
    </div>
</div>


<div id="packageSection" class="fixed-bg" style="background-image: url('img/background/blueflower_blurred.png'); background-color: #6668a7">
    <div class="" style="padding-bottom: 20px; max-width: 1100px;z-index: 1;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;margin: 0 auto;position: relative;flex-direction: column; color:white;">
        <h1>Utställarpaketet</h1>
        <hr class="titleLineWhite"></hr>
        <h3 style="text-align:center">I utställarpaketet ingår:</h3>
        <div class="" style="display: flex;align-items: center;flex-wrap: wrap;justify-content: center;padding: 20px 0;">
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/booth.png" alt="" />
                <h4>Monterplats: 6m²</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/food.png" alt="" />
                <h4>Lunch och fika för två företagsrepresentanter</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/host2.png" alt="" />
                <h4>Personlig företagsvärd</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/marketing.png" alt="" />
                <h4>Aktiv marknadsföring</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/coffee.png" alt="" />
                <h4>Tillgång till företagslounge</h4>
            </div>
            <div style="height:200px;width:200px;text-align:center;padding:0 20px" class="">
                <img style="width:80px;height:auto" src="img/icons/party.png" alt="" />
                <h4>Två sittningsbiljetter till era representanter</h4>
            </div>
        </div>
        <h4 style="text-align: center;">Kontakta oss gärna för anmälan, frågor eller information om våra andra paket!</h4>
        <a ng-href="#contact#teamSection" class="myButton" style="background-color:white;">Till kontakt</a>
    </div>
</div>


<div id="fairSection" class="" style="padding:50px 15px;background-color:white; align-content: center;">
    <div class="hideme" style="align-content: center; text-align: center; opacity: 0; padding: 0; margin:0;">
        <h1 style="padding:10px 20px; font-size:50px; color:black; text-align:center; font-weight:100; padding-bottom: 0; margin-bottom: 0">Mässan</h1>
        <img style="width: 70%; height:20px;z-index align-self: center; text-align: center; 0" src="img/icons/divider.svg" alt=""/>
    </div>

    <div class="hideme" style="opacity: 0; display:flex;justify-content:center;align-items:flex-start;flex-wrap:nowrap;height:100%;margin-top:20px;">
        <div style="text-align:center;width:200px">
            <h2>När?</h2>
            <div style="font-weight:bold;white-space:pre-line">4e februari 2020
                10:00 - 17:00
            </div>
        </div>
        <div class="" style=" text-align:center;width:200px">
            <h2>Var?</h2>
            <div style="font-weight:bold;white-space:pre-line">Nymble, KTH, Drottning Kristinas väg 15 <a target="_blank" style="vertical-align:middle" href="http://goo.gl/maps/xqXnQJQV2JQ2"><img style="width:15px;" src="img/icons/link.svg" alt="" /></a>
                <img src="img/icons/subway.png" alt="" style="width:20px;height:auto;display:inline-block;vertical-align:middle" /> Tekniska Högskolan
            </div>
        </div>
    </div>
	</br>
    <div class="hideme" style="opacity: 0; margin:0 auto;max-width:800px;white-space:pre-line">
        Mässan startar den 4e februari 2020 och innehåller bland annat en heldag med inspirerande föreläsningar och spännande företag. Vi kommer att hålla till i THS kårhus, Nymble, som ligger på Drottning Kristinas väg 15 vid Kungliga Tekniska Högskolan.

        Under dagen är mässan öppen för alla studenter på KTH, men vi riktar oss särskilt mot medieteknikstudenter då dessa har ett brett intresse för design, programmering, och entreprenörskap. Ett perfekt tillfälle för ditt företag att hitta studenter för framtiden!

        Dagen avslutas med en stor sittning där era företagsrepresentanter har möjlighet att komma och äta och mingla med våra studenter i en mer avslappnad miljö.
    </div>
</div>

<div class="sec-background-color content-block">
    <div id="companyContactsSection" class="content-wrapper--wide center">
        <h1 class="center">Våra företagsansvariga</h1>
        <hr class="titleLineYellow"></hr>
        <br>
        <div class="list-wrapper">
            <ng-include 
                class="profile-container"
                src="'partials/profile.html'"
                ng-repeat="person in companyResponsibleTeamMembers">
            </ng-include>
        </div>
        <p style="text-align:center;font-size:16px;">
            Söker du någon annan? Klicka <a href="#contact" style="color: #dcb510;">här!</a>
        </p>
    </div>
</div>

<div class="content-block content-wrapper--wide center">
    <h1 class="center">Förra årets medverkande</h1>
    <hr class="titleLineYellow"></hr>
    <div ng-repeat="company in lastYearsCompanies" style="display:inline;">
        <a ng-href="http://{{company.website}}" target="_blank">
            <img class="companyFooterIcon" ng-src="img/companies/{{company.logo}}"/>
        </a>
    </div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
