<div class="intro-screen__background" style="background-image:url('img/background/flower_dark_blur.jpg')">
    <div class="intro-screen__top-content">
        <div class="intro-screen__text">
            <h1 style="font-weight: 900">{{phrases()['for_companies']}}</h1>
            <hr class="yellow-line">
        </div>
    </div>
    <div class="intro-screen__link-container content-wrapper">
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#mediatechnologySection')">
            <h2>{{phrases()['about_us']}}</h2>
            <div class="intro-screen__link-icon">
                ?
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#packageSection')">
            <h2>{{phrases()['participate']}}</h2>
            <div class="intro-screen__link-icon">
                <img style="height: 75%" src="../img/icons/tickets_black.svg" alt="">
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#fairSection')">
            <h2>{{phrases()['the_fair']}}</h2>
            <div class="intro-screen__link-icon">
                <img src="../img/icons/booth_black.svg" alt="">
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#companyContactsSection')">
            <h2>{{phrases()['company_contact']}}</h2>
            <div class="intro-screen__link-icon">
                <img src="../img/icons/profileIcon_black.svg" alt="">
            </div>
        </div>
    </div>
    <div ng-click="scrollDown()" class="btn btn--icon intro-screen__scroll-down-btn">
        <img class="btn--icon-image" src="img/icons/arrows/down_black.svg"  alt="" />
    </div>
</div>

<div id="mediatechnologySection" class="content-block content-wrapper">
    <div class="hideme">
        <h1>{{phrases()['who_are_we_title']}}?</h1>
        <div class="line-gradient line-gradient--half line-gradient--helf--right"></div>
        <div class="long-text">{{phrases()['who_are_we_description']}}</div>
        <div class="line-gradient line-gradient--half line-gradient--helf--left"></div>
    </div>
</div>


<div id="packageSection" class="center-background" style="background-image: url('img/background/blue_flower_dark_blur.jpg');">
    <div class="content-wrapper content-block hideme">
        <div class="text-wrapper--center text-dark-background">
            <h1>{{phrases()['exhibitor_package']}}</h1>
            <h2>20 000 kr</h2> 
        </div>
        <div class="list-wrapper">
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/booth_black.svg" alt="">
                {{phrases()['package_showcase_area']}}: 6m²
            </div>
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/food_black.svg" alt="">
                {{phrases()['package_fika']}}
            </div>
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/profileIcon_black.svg" alt="">
                {{phrases()['package_host']}}
            </div>
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/sound_black.svg" alt="">
                {{phrases()['package_promotion']}}
            </div>
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/cup_black.svg" alt="">
                {{phrases()['package_lounge']}}
            </div>
            <div class="card package-offer-card">
                <img class="package-offer-card__icon" src="../img/icons/tickets_black.svg" alt="">
                {{phrases()['package_tickets']}}
            </div>
        </div>
        <br>
        <div class="text-wrapper--center text-dark-background">
            {{phrases()['package_contact']}}
            <br><br>
            <a ng-href="#contact#teamSection" class="btn btn--compact">{{phrases()['to_contacts']}}</a>
        </div>
    </div>    
</div>

<div id="mediatechnologySection" class="center-background" style="background-image: url('img/background/kth_map.jpg');">
    <div class="hideme content-block content-wrapper ">
        <div id="mbd-info-container">
            <div id="mbd-info-container__text">
                <h1>{{phrases()['the_fair']}}</h1>
                </br>
                <div class="line-gradient line-gradient--half line-gradient--helf--right"></div>
                <div class="long-text">{{phrases()['company_fair_description']}}</div>
                <div class="line-gradient line-gradient--half line-gradient--helf--left"></div>
            </div>
            <div id="mbd-info-container__location-time">
                <div style="margin-bottom: 20px" class="card card--light mbd-info-card">
                    <div class="mbd-info-card__text">
                        <h2>{{phrases()['when']}}?</h2>
                        <div style="font-weight:bold;white-space:pre-line">4e {{phrases()['february']}} 2020
                            10:00 - 16:00
                        </div>
                    </div>
                </div>
                <div id="mbd-info-card__map-container" class="card card--light mbd-info-card">
                    <div class="mbd-info-card__text">
                        <h2>{{phrases()['where']}}?</h2>
                        <a class="link--black" target="_blank" href="https://goo.gl/maps/J9qKxqzLvyLREGDR8">
                            Nymble, KTH, Drottning Kristinas väg 15
                        </a>
                    </div>
                    <iframe
                        id="mbd-info-card__map" 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.1409050938978!2d18.0685293161576!3d59.34729571662389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d6a8e520c07%3A0x57fd5073e2923781!2sNymble%20-%20Tekniska%20H%C3%B6gskolans%20K%C3%A5rhus!5e0!3m2!1ssv!2sse!4v1572857380751!5m2!1ssv!2sse" 
                        frameborder="0" 
                        style="border:0;" 
                        allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-block">
    <div id="companyContactsSection" class="content-wrapper center">
        <div class="compact">
            <h1>{{phrases()['sales_team']}}</h1>
            <hr class="yellow-line">
        </div>
        <br>
        <div class="list-wrapper">
            <ng-include 
                class="profile-container"
                src="'partials/profile.html'"
                ng-repeat="person in companyResponsibleTeamMembers">
            </ng-include>
        </div>
        <h3>{{phrases()['search_other']}}</h3>
        <a ng-href="#contact">
            <div class="btn btn--compact">
                {{phrases()['click_here']}}
            </div>
        </a>
    </div>
</div>

<div class="content-block content-wrapper--wide center">
    <div class="compact">
        <h1>
            {{phrases()['last_year_participants']}}
        </h1>
        <hr class="yellow-line">
    </div>
    <br>
    <div ng-repeat="company in lastYearsCompanies" style="display:inline;">
        <a ng-href="http://{{company.website}}" target="_blank">
            <img class="companyFooterIcon" ng-src="img/companies/{{company.logo}}"/>
        </a>
    </div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
