

<div id="mobilehide" class="fixed-bg" style="background-image:url(img/background/branches_buds.jpg)">
    <br>
    <h1 id="startText" style="border: 3px solid #FFD521; ">Projektgruppen</h1>
    <img id="downArrow" style="" src="img/icons/arrowDown.png" ng-click="scrollDown()" alt="" />
</div>

<div id="mobileshow" class="" style="height: 250px; background-image:url(img/background/branches_buds.jpg); background-repeat: no-repeat; background-size: cover; align-content: center; text-align: center;">
    <br>
    <h1 id="startText" style="margin-top: 100px; border-top: 2px solid #FFD521; border-bottom: 2px solid #FFD521;">Projektgruppen</h1>
</div>

<div id="teamSection" class="content-block">
    <div class="content-wrapper--wide list-wrapper center">
        <ng-include class="profile-container" ng-repeat="person in getTeamMembers()" src="'partials/profile.html'"></ng-include>
    </div>
</div>

<div class="" id="contactForm" style="background-color:#f7f5e6;display:flex;flex-direction:column;justify-content:center;align-items:center;padding: 50px 15px">
    <h1 style="text-align:center;">Maila oss!</h1>
    <hr class="titleLineBlack" ></hr>
    <div id="mailInputForm" class="">
        <div class="" style="width:100%">
            Namn* <input ng-model="name" style="border-radius:4px;border:none;margin: 5px 0;width:100%;padding:4px 0" type="text" name="mailTitle" value="" placeholder="">
        </div>
        <div class="" style="width:100%">
            Epost* <input ng-model="email" style="border-radius:4px;border:none;margin: 5px 0;width:100%;padding:4px 0" type="text" name="mailTitle" value="" placeholder="">
        </div>
        <div class="" style="width:100%">
            Ämne* <input ng-model="subject" style="border-radius:4px;border:none;margin: 5px 0;width:100%;padding:4px 0" type="text" name="mailSender" value="" placeholder="">
        </div>
        <div class="" style="width:100%">
            Meddelande* <textarea ng-model="message" style="border:none;border-radius:4px;margin: 5px 0;width:100%;resize:vertical;padding:4px 0" name="mailMessage" rows="8" cols="" placeholder=""></textarea>
        </div>
        <div style="display:flex;align-items:baseline;width:100%;" class="">
            <a class="myButton whiteText" id="contactEmailButton" style="background-color:black" ng-click="sendMail()">Skicka</a>
            <div style="margin: 0 5px" id="contactFeedbackContainer">
                {{successMessage}}
            </div>
        </div>

    </div>

</div>
<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>