<div class="fixed-bg" style="min-height: 100px; background-image: url('img/background/green-dark.png'); background-color: #6668a7" ng-show="getUpcomingEvents().length">
    <div class="" style="position: relative; text-align: center;">
            <h1 style="color: white; padding-top:50px">Kommande evenemang</h1>
            <hr class="titleLineYellow"></hr>
            <br/>
    </div>
</div>

<section id="upcomingSection">
    <div id="mobilehide">
        <div ng-repeat="event in getUpcomingEvents()" class="event-wrapper" ng-class="$even ? 'odd' : 'even'">
            <div class="event-info">
                <div ng-if="$odd" class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
                <div class="col">
                    <div class="col-text">
                        <h1>{{event.title}}</h1>
                        <h3>
                            {{event.date}}
                            <img src="img/icons/time_black.png" class="event-icon">{{event.time}}
                            <img src="img/icons/location_black.png" class="event-icon">{{event.location}}
                        </h3>
                        <a href="{{event.fb_link}}" target="blank_"><img src="img/icons/facebook.svg" style="width:25px;" alt=""/></a>
                        <div class="col-desc">
                            {{event.description}}
                        </div>
                    </div>
                </div>
                <div ng-if="$even" class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
            </div>
        </div>
    </div>
    <div id="mobileshow">
        <div ng-repeat="event in getUpcomingEvents()" class="event-info" ng-class="$even ? 'odd' : 'even'">
                <div class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
                <div class="col">
                    <div class="col-text">
                        <h1>{{event.title}}</h1>
                        <h3>
                            {{event.date}}
                            <img src="img/icons/time_black.png" class="event-icon">{{event.time}}
                            <br/><img src="img/icons/location_black.png" class="event-icon">{{event.location}}
                        </h3>
                        <a href="{{event.fb_link}}" target="blank_"><img src="img/icons/facebook.svg" style="width:25px;" alt=""/></a>
                        <div class="col-desc">
                            {{event.description}}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<div class="fixed-bg" style="min-height: 100px; background-image: url('img/background/green-dark.png'); background-color: #6668a7" ng-show="getAnnonser().length">
    <div class="" style="position: relative; text-align: center;">
            <h1 style="color: white; padding-top:50px">Sponsrade inlägg / Jobbannonser</h1>
            <hr class="titleLineYellow"></hr>
            <br/>
    </div>
</div>
<section id="annonsSection">
    <div id="mobilehide">
        <div ng-repeat="annons in getAnnonser()" class="event-wrapper" ng-class="$even ? 'odd' : 'even'">
            <div class="event-info">
                <div ng-if="$odd" class="annons-pic" style="background-image: url('img/events/{{annons.image}}');"></div>
                <div class="col">
                    <div class="col-text">
                        <h3>{{annons.title}}</h3>
                        <div class="col-desc">
                            {{annons.description}}
                        </div>
                    </div>
                </div>
                <div ng-if="$even" class="annons-pic" style="background-image: url('img/events/{{annons.image}}');"></div>
            </div>
        </div>
    </div>
    <div id="mobileshow">
        <div ng-repeat="annons in getAnnonser()" class="event-info" ng-class="$even ? 'odd' : 'even'">
                <div class="annons-pic" style="background-image: url('img/events/{{annons.image}}');"></div>
                <div class="col">
                    <div class="col-text">
                        <h3>{{annons.title}}</h3>
                        <div class="col-desc">
                            {{annons.description}}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<div class="fixed-bg" style="min-height: 100px; background-image: url('img/background/green-dark.png'); background-color: #6668a7">
    <div class="" style="position: relative; text-align: center;">
            <h1 style="color: white; padding-top:50px">Tidigare evenemang</h1>
            <hr class="titleLineYellow"></hr>
            <br/>
    </div>
</div>

<section id="pastSection">
    <div id="mobilehide">
            <div ng-repeat="event in getPastEvents()" class="event-wrapper" ng-class="$even ? 'odd' : 'even'">
                <div class="event-info">
                    <div ng-if="$odd" class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
                    <div class="col">
                        <div class="col-text">
                            <h1>{{event.title}}</h1>
                            <h3>
                                {{event.date}}
                                <img src="img/icons/time_black.png" class="event-icon">{{event.time}}
                                <img src="img/icons/location_black.png" class="event-icon">{{event.location}}
                            </h3>
                            <a href="{{event.fb_link}}" target="blank_"><img src="img/icons/facebook.svg" style="width:25px;" alt=""/></a>
                            <div class="col-desc">
                                {{event.description}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="$even" class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
                </div>
            </div>
        </div>
        <div id="mobileshow">
            <div ng-repeat="event in getPastEvents()" class="event-info" ng-class="$even ? 'odd' : 'even'">
                    <div class="pic" style="background-image: url('img/events/{{event.image}}');"></div>
                    <div class="col">
                        <div class="col-text">
                            <h1>{{event.title}}</h1>
                            <h3>
                                {{event.date}}
                                <img src="img/icons/time_black.png" class="event-icon">{{event.time}}
                                <br/><img src="img/icons/location_black.png" class="event-icon">{{event.location}}
                            </h3>
                            <a href="{{event.fb_link}}" target="blank_"><img src="img/icons/facebook.svg" style="width:25px;" alt=""/></a>
                            <div class="col-desc">
                                {{event.description}}
                            </div>
                        </div>
                    </div>
            </div>
        </div>
</section>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
