<div id="event-intro-screen" class="intro-screen__background" style="background-image:url('img/background/green_leaves_dark_blur.jpg')">
    <div class="intro-screen__top-content">
        <div class="intro-screen__text">
            <h1 style="font-weight: 900">{{phrases()['events']}}</h1>
            <hr class="yellow-line">
        </div>
    </div>
    <div id="event-intro-screen__white-gradient"></div>
</div>

<div id="event-content">
    <div class="event-wrapper" ng-repeat="event in getAllEvents()" ng-class="$even ? 'event-odd' : 'event-even'">
        <div class="timline-split"></div>
        <div id="event-{{event.ID}}" class="event-container card">
            <div style="background-image: url('img/events/{{event.image}}')" class="event-image-container">
                <img src="img/events/{{event.image}}" class="event-image"/>
            </div>
            <div class="event-quiz-info-container">
                <div class="event-title">
                    <h2><h2>{{getEventTitle(event)}}</h2></h2>
                    <h3>
                        {{event.date}} | {{event.time}}
                    </h3>
                </div>
                <div class="btn" ng-click="toggleEventInfo(event.ID)">
                    {{phrases()['read_more']}}
                </div>
            </div>
            <div class="event-info">
                <div class="event-title-container">
                    <div class="event-title">
                        <h2>{{getEventTitle(event)}}</h2>
                        <h3>
                            {{event.date}} | {{event.time}}<br>
                            <i>{{event.location}}</i>
                        </h3>
                    </div>
                    <a target="_blank" href="{{event.fb_link}}">
                        <div class="btn btn--icon">
                            <img class="btn--icon-image" src="img/icons/facebook.svg"  alt="" />
                        </div>
                    </a>
                </div>
                <div class="event-description">
                    {{getEventDescription(event)}}
                </div>
            </div>
        </div>
        <div class="timline-split"></div>
        <div class="timline-line" ng-class="$even ? 'event-odd' : 'event-even'"></div>
    </div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
