<div ng-show="mainCompanies.length" id="main-sponsor" class="content-block center center-background">
    <div style="margin: 0 auto;">
        <div class="compact">
            <h1 ng-if="mainCompanies.length == 1">Huvudsponsor</h1>
            <h1 ng-if="mainCompanies.length > 1">Huvudsponsorer</h1>
            <hr class="yellow-line">
        </div>
        <br>
        <div ng-repeat="company in mainCompanies" style="display:inline;">
            <a ng-href="http://{{company.website}}" target="_blank">
                <img class="mainSponsorFooterIcon" ng-src="img/companies/{{company.logo}}"/>
            </a>
        </div>
    </div>
</div>

<div ng-if="companies.length != 0" class="content-wrapper--wide content-block center">
    <div class="compact">
        <h1>Utställare</h1>
        <hr class="yellow-line">
    </div>
    <br>
    <div ng-repeat="company in companies" style="display:inline;">
        <a ng-if="company.main_sponsor != 1" ng-href="http://{{company.website}}" target="_blank">
            <img class="companyFooterIcon" ng-src="img/companies/{{company.logo}}"/>
        </a>
    </div>
</div>

<div ng-if="sponsors.length != 0" class="content-wrapper--wide content-block center">
    <div class="compact">
        <h1>Vi tackar våra sponsorer</h1>
        <hr class="yellow-line">
    </div>
    <br>
    <div ng-repeat="sponsor in sponsors" style="display:inline;">
        <a ng-href="http://{{sponsor.website}}" target="_blank">
            <img class="companyFooterIcon" ng-src="img/companies/{{sponsor.logo}}"/>
        </a>
    </div>
</div>

<footer>
    <div class="" style="background-color:rgb(55,55,54);display:flex;flex-direction:column;justify-content:center;align-items:center;color:white;padding: 15px 0">
        <h4 style="margin:0">Sektionen för Medieteknik, KTH</h4>
        <h4 style="margin:0"><a href="http://www.medieteknik.com" target="_blank">www.medieteknik.com</a></h4>
    </div>
</footer>
