<nav class="navbar">
    <a id="navbarLogo" style="display:flex;align-items:center;height:100%;" ng-click="closeNavbar()" href="#/">
        <img src="img/logo/logo_yellow.svg"  style="width:auto;height:50px"alt="" />
    </a>

    <a ng-repeat="item in navbarOptions" class="navLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">{{item.option}}    
        <div id="mobilehide" style="position: absolute; right: 15px; margin: 2px;">
            <a href="http://www.medieteknik.com">
                <img src="img/logo/medieteknik_logo.png"  style="height:45px; width: auto"alt="" />  <!--  id="medieLogga" -->
            </a>
            <a href="https://www.kth.se">
                <img src="img/logo/KTH_logo.png"  style="height:45px; width: auto"alt=""/>     <!--  id="KTHLogga"  -->
            </a>
        </div> 
    </a>

    <div ng-click="toogleMobileNavbar()" id="menu__hamburger">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="menu__mobile-navbar">
        <h2 ng-repeat="item in navbarOptions">
            <a ng-click="closeNavbar()" class="navMobileLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">
                {{item.option}}
            </a>
        </h2>
    </div>

</nav>
