<nav class="navbar">

    <a id="navbarLogo" ng-click="closeNavbar()" href="#/">
        <img src="img/logo/logo_yellow.svg"  style="width:auto;height:50px" alt="" />
    </a>

    <a ng-repeat="item in navbarOptions" class="navLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">
        {{phrases()[item.option]}}    
    </a>

    <div class="navbar__right-content" id="mobilehide">
        <div class="language-select">
            <div
                style="background-image: url('img/flag_se.svg')" 
                class="lang-btn" ng-click="setLanugage('se')"></div>
            <div 
                style="background-image: url('img/flag_en.svg')" 
                class="lang-btn" ng-click="setLanugage('en')"></div>
        </div>
        <div class="navbar-extra-logo">
            <a ng-href="http://www.medieteknik.com">
                <img src="img/logo/medieteknik_logo.png" alt="" />
            </a>
        </div>
        <div class="navbar-extra-logo">
            <a ng-href="https://www.kth.se">
                <img src="img/logo/KTH_logo.png" alt=""/>
            </a>
        </div>
    </div> 

    <div ng-click="toogleMobileNavbar()" id="menu__hamburger">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div id="menu__mobile-navbar">
        <h2 ng-repeat="item in navbarOptions">
            <a ng-click="closeNavbar()" class="navMobileLink" ng-class="{active: route.current.activeTab == '{{item.hash}}'}" href="#/{{item.hash}}">
                {{item.option}}
            </a>
        </h2>
        <div class="navMobileLink">
            <div class="language-select">
                <div
                style="background-image: url('img/flag_se.svg')" 
                class="lang-btn" ng-click="setLanugage('se')"></div>
            <div 
                style="background-image: url('img/flag_en.svg')" 
                class="lang-btn" ng-click="setLanugage('en')"></div>
            </div>
        </div>
    </div>

</nav>
