<!-- Needs a profile object to work, see getTeamMembers -->
<div ng-controller="ProfileCtrl" style="background-image: url('img/profiles/{{person.image}}')" class="profile-image card">
    <div class="profile-info__container">
        <div class="profile-info__text-container">
            <h3>{{person.name}}</h3>
            <h4>{{getPosition(person)}}</h4>
        </div>
        <div class="profile-info__link-container ">
            <a target="_blank" href="mailto:{{person.email}}">
                <div class="profile-info__link mail-link">
                    <img src="img/icons/mail-white-material.svg" alt="Mail"/>
                </div>
            </a>
            <a target="_blank" href="{{person.linkedin}}">
                <div class="profile-info__link linkedin-link">
                    <img src="img/icons/linkedin.png" alt="Linkedin"/>
                </div>
            </a>
        </div>
    </div>    
</div>