

<div id="mobilehide" class="" style="height: 80%; background-image:url(img/background/kth2_dark.png); background-repeat: no-repeat; background-size: cover; align-content: center; text-align: center;">
    <div class="" style="position:absolute;left:0;top:0;width:100%;height:82%;background-color:rgba(0,0,0,0.4);"></div>
    <br>
    <div class="" ng-click="scrollTo('#schemaSection')" style="display:flex; justify-content:center; align-content: center; text-align: center; margin-top: 200px; cursor:pointer;">
        <h1 style="border: 3px solid #FFD521; background-color: black; opacity: 0.7; color: #FFD521; padding: 10px 30px 10px 30px;">Schema</h1>
    </div>

    <!--<h1 id="startText" style="border: 3px solid #FFD521; ">Schema</h1>-->
    <!--<h1 id="startText" style="margin-top: 200px; border: 2px solid #FFD521; margin-left: 0;margin-right: 0;padding-left: 0;padding-right: 0;">Schema</h1>-->
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-if="closestEvent" style="position:relative;border: 3px solid #daede8; border-radius: 0px; min-width:240px; min-height: 60px; color:white; margin: 0 50px; padding: 0 20px;">
            <h2 style="text-align:center;">Nästa event:</h2>
            <h3>{{closestEvent.type}} med {{closestEvent.title}}</h3>
            <h4>{{closestEvent.duration}}, {{closestEvent.location}}</h4>

            <div class="" style="position:absolute;right:0;bottom:0;background-color:#daede8;width:55px;height:40px;">
                <h4 style="color:black;text-align:center;margin:9px 0 0 0">{{closestEvent.day}}</h4>
            </div>
        </div>
    </div>
</div>

<div id="mobileshow" class="" style="height: 250px; background-image:url(img/background/kth2_dark.png); background-repeat: no-repeat; background-size: cover; align-content: center; text-align: center;">
    <br>
    <h1 id="startText" style="margin-top: 100px; border-top: 2px solid #FFD521; border-bottom: 2px solid #FFD521;">Schema</h1>
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-if="closestEvent" style="position:relative;border: 3px solid #daede8; border-radius: 0px; min-width:240px; min-height: 60px; color:white; margin: 0 50px; padding: 0 20px;">
            <h2 style="text-align:center;">Nästa event:</h2>
            <h3>{{closestEvent.type}} med {{closestEvent.title}}</h3>
            <h4>{{closestEvent.duration}}, {{closestEvent.location}}</h4>

            <div class="" style="position:absolute;right:0;bottom:0;background-color:#daede8;width:55px;height:40px;">
                <h4 style="color:black;text-align:center;margin:9px 0 0 0">{{closestEvent.day}}</h4>
            </div>
        </div>
    </div>
</div>

<!--
<div class="bannerHeader" style="background-image:url(img/background/kth2_dark.png);">
    <div class="" style="position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0,0,0,0.4);"></div>
    <div class="" style="display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:100%;z-index:1;position:relative">
        <div ng-if="closestEvent" style="position:relative;border: 3px solid #daede8; border-radius: 0px; min-width:240px; min-height: 60px; color:white; margin: 0 50px; padding: 0 20px;">
            <h2 style="text-align:center;">Nästa event:</h2>
            <h3>{{closestEvent.type}} med {{closestEvent.title}}</h3>
            <h4>{{closestEvent.duration}}, {{closestEvent.location}}</h4>

            <div class="" style="position:absolute;right:0;bottom:0;background-color:#daede8;width:55px;height:40px;">
                <h4 style="color:black;text-align:center;margin:9px 0 0 0">{{closestEvent.day}}</h4>
            </div>
        </div>
    </div>
</div>-->

<div id="schemaSection" style="min-height:400px;background-color:rgb(246,246,246);text-align:center;padding:50px 15px">
    <h1 style="margin-bottom: 0;padding-bottom: 5px;">Schema</h1>
    <img style="width: 70%; height:20px;z-index align-self: center; text-align: center; 0" src="img/icons/divider.svg" alt=""/>
    </br></br></br>

    <div class="" style="display:flex;flex-direction:column;justify-content:center;margin:0 auto; max-width:1100px">

        <div ng-repeat="event in getSchedule()" class="scheduleContainer" style="background-color:#FAFAF2;margin:10px 0; text-align:left;position:relative;box-shadow: 0 0 30px -15px">
            <div class="" style="position:absolute;right:0;top:0;background-color:rgb(55,55,56);width:80px;height:50px;">
                <h2 style="color:white;text-align:center;margin-top:13px">{{event.day}}</h2>
            </div>
            <div class="" style="padding: 10px 10px;">
                <h2 style="margin-top:0;">{{event.type}}</h2>
                <h3>{{event.title}}</h3>
                <p style="">
                    {{event.description}}
                </p>
                <div class="" style="background-color:rgb(55,55,56);margin:0 -10px -10px -10px;color:white;padding:5px;">
                    <div class="" style="display:inline-block;margin:0 5px"><img src="img/icons/time.png" alt="" style="width:20px;height:auto;display:inline-block;vertical-align:bottom"/> {{event.duration}}</div>
                    <div class="" style="display:inline-block;margin:0 5px"><img src="img/icons/location.png" alt="" style="width:20px; height:auto;display:inline-block;vertical-align:bottom"/> {{event.location}} <a ng-if="event.locationlink" target="_blank" style="vertical-align:middle" ng-href="http://{{event.locationlink}}"><img style="width:15px;" src="img/icons/link.svg" alt="" /></a></div>
                </div>
            </div>
        </div>

    </div>

</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
