<div id="welcome-container" class="fixed-bg"
    style="background-image: url('img/background/leaf_dark.png'); background-color: #f3f3f3;">
    <img id="startLogo" src="img/logo/logo_yellowBred.svg" alt="" />
    <h1 id="startHeader" class="dateFade"> 28 FEBRUARI 2019<br />NYMBLE</h1>
    <div class="countdown-wrapper dateFade">
        <section class="countdown-container">
            <div class="days-container">
                <div class="days"></div>
                <div class="days-label">days</div>
            </div>
            <div class="hours-container">
                <div class="hours"></div>
                <div class="hours-label">hours</div>
            </div>
            <div class="minutes-container">
                <div class="minutes"></div>
                <div class="minutes-label">minutes</div>
            </div>
            <div class="seconds-container">
                <div class="seconds"></div>
                <div class="seconds-label">seconds</div>
            </div>
        </section>
    </div>
    <img id="downArrow" src="img/icons/arrowDown.png" ng-click="scrollDown()" alt="" />
</div>


<div id="welcomeWrapper">
    <div id="welcomeWrapperBox">
        <div id="welcomeText" class="welcomeText">
            <p class="hideme">
                <img id="welcomeBoxCornerRotate" src="img/icons/x_lb_corner.svg" alt="" />
                <img id="welcomeBoxCorner" src="img/icons/x_lb_corner.svg" alt="" />
                <span style="font-size:30px;">Hej!</span><br><br>
                Inspiration och framtidstro.
                Det kommer kårhuset Nymble genomsyras av den 28e februari 2019 när dörrarna öppnas till Medias
                Branschdag!
                Vår årliga branschdagsmässa hålls för att studenter och företag ska kunna mötas för utbyten
                - oavsett om det som söks är ett eventuellt sommarjobb eller insikt i vad det egentligen innebär att
                jobba som medietekniker i praktiken.
                Branschdagen ger inte bara studenter ett smakprov på vad arbetslivet har att ge,
                utan bidrar likväl till att företagen får ett smakprov av vad framtida medieteknologer har att bidra
                med.
                <br><br>
                Vi ses på branschdagen i februari!
            </p>
        </div>
        <div id="projectLeaderWrapper">
            <img id="projectLeader" src="img/profiles/placeholder.png" />
            <span>Amaila Berglöf, Projektledare</span>
        </div>
    </div>
</div>


<!--
<div id="companySection" class="">
    <div class="companyMobile" style="">
    </div>
    <div class="companyDesktop" style="">
    </div>
</div>
-->



<div id="mobileshow"
    style="background-image: url('img/background/purple_chives_c.jpg'); background-repeat: no-repeat; background-size: cover; background-color: #a0cdb1">
    <div style=" max-width: 1100px;z-index: 1; color:white;">
        <div class="userTypeWrapper">
            <!--
            <div class="userTypeContainer" style="padding:15px;color:white; ">
                <img style="width:70px;height:auto" src="img/icons/company.png" alt="" />
                <h2>Företag</h2>
                <div class="userTypeParagraph">
                    <p class="hideme" style="opacity: 0;">
                        Tyvärr är ansökan stängd för iår, men det finns fortfarande möjlighet till andra samarbeten med medieteknik. 
                        <br/>Näringslivsgruppen finns till för att hjälpa er nå våra studenter genom både event och marknadsföring.
                    </p>
                </div>
                <a href="https:/www.facebook.com/NLGmedieteknik/" class="myButton" style="background-color: white;">Läs mer</a>
            </div>
            -->
            <div class="userTypeContainer" style="padding:15px;color:white; ">
                <img style="width:70px;height:auto" src="img/icons/student.png" alt="" />
                <h2>Student</h2>
                <div class="userTypeParagraph toFade">
                    <p class="hideme" style="opacity: 0">
                        Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2019.
                        Kanske hittar du din framtida arbetsgivare redan nu?
                    </p>
                </div>
                <a href="#/students" class="myButton" style="background-color: white;">Läs mer</a>
            </div>
        </div>
    </div>
</div>


<div id="mobilehide" class="fixed-bg"
    style="background-image: url('img/background/purple_chives.jpg'); background-color: #a0cdb1">
    <div class="" style=" max-width: 1100px;z-index: 1; color:white;">

        <div class="companyDesktop" style="padding-bottom: 150px;">
            <div class="hideme"
                style="opacity: 0; display: flex;align-items: center;flex-wrap: wrap;justify-content: center;padding: 20px 0;">
                <!--
                <div style="height:200px;width:500px; text-align:center; padding:0 20px" class="">
                    <img style="width:100px;height:auto" src="img/icons/company.png" alt="" />
                    <h2>Vill ditt företag vara med på Medias Branschdag?</h2>
                    <p class="" style="">
                        Tyvärr är ansökan stängd för iår, men det finns fortfarande möjlighet till andra samarbeten med medieteknik. Näringslivsgruppen finns till för att hjälpa er nå våra studenter genom både event och marknadsföring. 
                    </p>
                    <a href="https:/www.facebook.com/NLGmedieteknik/" target="_blank" class="myButton" style="background-color: #ffffff;">Läs mer</a>
                </div>
                -->
                <div style="height:200px;width:500px; text-align:center; padding:0 20px" class="">
                    <img style="width:100px;height:auto" src="img/icons/student.png" alt="" />
                    <h2>Är du en student?</h2>
                    <p class="" style="">
                        Läs mer om vilka företag som ställer ut på Medias Branschdag 2019.
                        Kanske hittar du din framtida arbetsgivare redan nu?
                    </p>
                    <a href="#/students" class="myButton" style="background-color: white;">Läs mer</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
HÄÄÄÄÄÄR
<div class="fixed-bg " style="background-image: url(img/background/green_darker.png); background-color: #a0cdb1; ">
    <div class="userTypeContainer" style="padding:15px;color:white; ">
        <img style="width:70px;height:auto" src="img/icons/company.png" alt="" />
        <h2>Företag</h2>
        <div class="userTypeParagraph">
            <p class="hideme" style="opacity: 0">
                Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
                Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
            </p>
        </div>
        <a href="#/companies" class="myButton" style="background-color: white;">Läs mer</a>
    </div>
    <div class="userTypeContainer" style="padding:15px;color:white; ">
        <img style="width:70px;height:auto" src="img/icons/student.png" alt="" />
        <h2>Student</h2>
        <div class="userTypeParagraph toFade">
            <p class="hideme" style="opacity: 0">
                Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2017,
                kanske hittar du din framtida arbetsgivare redan nu? I år hittar du företag från management till spelutveckling!
            </p>
        </div>
        <a href="#/students" class="myButton" style="background-color: white;">Läs mer</a>
    </div>
</div>-->
<!--
<div class="fixed-bg" style="background-image: url('img/background/green-dark.png');">
    
    <div class="userTypeContainer" style="width: 50%; float: left; padding:15px;color:white;z-index:1">
        <img style="width:70px; height:auto" src="img/icons/company.png" alt="" />
        <h2>Företag</h2>
        <div class="userTypeParagraph">
            <p>
                Är du ett företag? Klicka dig vidare här för att läsa mer om vilka vi på medieteknik är och vad en medietekniker sysslar med.
                Här hittar du också information om Branschdagspaketet och hur du kontaktar våra företagsrepresentanter!
            </p>
        </div>
        <a href="#/companies" class="myButton" style="background-color:#fbe9e7;">Läs mer</a>
    </div>
    <div class="userTypeContainer" style="width: 50%; float: right; padding:15px;color:white;z-index:1">
        <img style="width:70px;height:auto" src="img/icons/student.png" alt="" />
        <h2>Student</h2>
        <div class="userTypeParagraph">
            <p>
                Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2017,
                kanske hittar du din framtida arbetsgivare redan nu? I år hittar du företag från management till spelutveckling!
            </p>
        </div>
        <a href="#/students" class="myButton" style="background-color:#fbe9e7;">Läs mer</a>
    </div>-->
<!--<div class="userTypeContainer" style="padding:15px;color:white;z-index:1">
        <img style="width:130px;height:auto" src="img/icons/student.png" alt="" />
        <h1>Student</h1>
        <div class="userTypeParagraph">
            <p>
                Är du en student? Läs mer om vilka företag som ställer ut på Medias Branschdag 2017,
                kanske hittar du din framtida arbetsgivare redan nu? 
            </p>
        </div>
        <a href="#/students" class="myButton" >Läs mer</a>
    </div>
</div>
<div class="" style=" background-color: white;"> <!-- #f9f8f0 leaf_dark.png -->
<div class="" style="position:relative;z-index:1">
    <h1 id="instagramHeader">Medias Branschdag på Instagram!</h1>

    <!--<hr class="titleLineYellow"></hr>-->

    <div id="mobilehide">
        <div id="instagramWrapper">
            <img id="instagramDivider" src="img/icons/divider.svg" alt="" />
            <div ng-repeat="post in getInstagram()" style="max-width:300px;margin:20px 50px;">
                <a class="instagramLink" ng-href="{{post.link}}" target="_blank">
                    <div class="thumbnail">
                        <img class="{{post.class}}" ng-src="{{post.images.standard_resolution.url}}" alt="N/A" />
                    </div>
                    <div class="instagramStatBar">
                        <div class="likes">
                            <img src="img/icons/heart_red.png" alt="" /> {{post.likes.count}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="mobileshow">
        <div id="instagramWrapper">
            <img id="instagramDivider" src="img/icons/divider.svg" alt="" />
            <div ng-repeat="post in getInstagram()" ng-if="$index < 3" style="max-width:300px;margin:20px 50px;">
                <a class="instagramLink" ng-href="{{post.link}}" target="_blank">
                    <div class="" style="position:relative;">
                        <img ng-src="{{post.images.standard_resolution.url}}"
                            style="width:100%;height:auto;border-radius:0px;" alt="N/A" />
                    </div>
                    <div class="" style="bottom:0;right:0;left:0;height:25px;text-align:right;color:black">
                        <div class="" style="display:inline-block;margin:0 2px">
                            <img style="width:15px;height:auto;vertical-align:middle;" src="img/icons/heart_red.png"
                                alt="" /> {{post.likes.count}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="followUsWrapper">
    <div id="mobilehide">
        <p id="followUsText">Följ oss på sociala medier! </p>
    </div>
    <div id="mobileshow">
        <h2 style="color:black; margin: 5px; padding: 10px;">Följ oss på sociala medier! </h2>
    </div>
</div>
<div id="socialMediaLinkWrapper">
    <div>
        <a class="socialMediaLink" href="https://www.facebook.com/mediasbranschdag/" target="_blank"><img
                src="img/icons/facebook_gold.svg" alt="" /></a>
        <a class="socialMediaLink" href="https://www.instagram.com/mediasbranschdag/" target="_blank"><img
                src="img/icons/instagram_gold.svg" alt="" /></a>
    </div>
</div>
</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>