<div class="intro-screen__background" style="background-image:url('img/background/leaf_dark_blur.jpg')">
    <img id="start-logo" src="img/logo/logo_yellow.svg" alt="" />
    <h1 id="startHeader" class="dateFade"> 4 FEBRUARI 2020<br />NYMBLE</h1>
    <div class="countdown-wrapper dateFade">
        <section class="countdown-container">
            <div class="days-container">
                <div class="days"></div>
                <div class="days-label">days</div>
            </div>
            <div class="hours-container">
                <div class="hours"></div>
                <div class="hours-label">hours</div>
            </div>
            <div class="minutes-container">
                <div class="minutes"></div>
                <div class="minutes-label">minutes</div>
            </div>
            <div class="seconds-container">
                <div class="seconds"></div>
                <div class="seconds-label">seconds</div>
            </div>
        </section>
    </div>
    <div ng-click="scrollDown()" class="btn btn--icon intro-screen__scroll-down-btn">
        <img class="btn--icon-image" src="img/icons/arrows/down_black.svg"  alt="" />
    </div>
</div>


<div class="content-block content-wrapper--wide">
    <div id="welcome-text-container">
        <div id="welcome-text" class="hideme">
            <h1>Hej!</h1>
            <div class="line-gradient line-gradient--half line-gradient--helf--right"></div>
            <div>
                Inspiration och framtidstro.
                Det kommer kårhuset Nymble genomsyras av den 4e februari 2020 när dörrarna öppnas till Medias
                Branschdag!
                Vår årliga branschdagsmässa hålls för att studenter och företag ska kunna mötas för utbyten
                - oavsett om det som söks är ett eventuellt sommarjobb eller insikt i vad det egentligen innebär att
                jobba som medietekniker i praktiken.
                Branschdagen ger inte bara studenter ett smakprov på vad arbetslivet har att ge,
                utan bidrar likväl till att företagen får ett smakprov av vad framtida medieteknologer har att bidra
                med.
                <br><br>
                Vi ses på branschdagen i februari!
            </div>
            <div class="line-gradient line-gradient--half line-gradient--helf--left"></div>
        </div>
        <div id="projectLeaderWrapper">
            <div class="profile-container">
                <div style="background-image: url('img/profiles/projectleaders.jpg')" class="profile-image card">
                    <div class="profile-info__container">
                        <div class="profile-info__text-container">
                            <h3>Rasmus Rudling & <br> Ella Klara Westerlund</h3>
                            <h4>Projektledare</h4>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="center-background" style="background-image: url('img/background/purple_chives_blur.jpg');">
    <div class="content-wrapper--wide content-block list-wrapper">
        <div class="hideme">
            
            <!-- <div class="text-wrapper--center text-dark-background">
                <img style="width:100px;height:auto" src="img/icons/company.png" alt="" />
                <h2>Vill ditt företag vara med på Medias Branschdag?</h2>
                <p class="" style="">
                    Tyvärr är ansökan stängd för iår, men det finns fortfarande möjlighet till andra samarbeten med medieteknik. Näringslivsgruppen finns till för att hjälpa er nå våra studenter genom både event och marknadsföring. 
                </p>
                <a href="https:/www.facebook.com/NLGmedieteknik/" target="_blank" class="myButton" style="background-color: #ffffff;">Läs mer</a>
            </div>
            <br> -->
            <div class="text-wrapper--center text-dark-background">
                <img style="width:100px;height:auto" src="img/icons/student.png" alt="" />
                <h2>Är du en student?</h2>
                <p>
                    Läs mer om vilka företag som ställer ut på Medias Branschdag 2020.
                    Kanske hittar du din framtida arbetsgivare redan nu?
                    <br>
                    Mer information kommer snart...
                </p>
                <!-- <a href="#/students" class="myButton" style="background-color: white;">Läs mer</a> -->
                <!-- <div style="background-color: #eee;" class="myButton"></div> -->
            </div>
        </div>
    </div>    
</div>

<div class="content-block content-wrapper--wide center">
    <div class="compact">
        <h1 class="compact">Medias Branschdag på Instagram!</h1>
        <hr class="yellow-line">
    </div>
    <br><br>

    <div class="list-wrapper">
        <div class="instagram-container card card--clickable" ng-repeat="post in getInstagram()">
            <a ng-href="{{post.link}}" target="_blank">
                <div style="background-image: url('{{post.images.standard_resolution.url}}')" class="instagram-image {{post.class}}" alt="Instagram image"></div>
            </a>
            <div class="instagram-like-container">
                <img class="instagram-heart" src="img/icons/heart_white_stroke.svg" alt="" /> 
                <span class="instagram-like-count">{{post.likes.count}}</span>
            </div>
        </div>
    </div>
</div>

<div class="content-block content-wrapper--wide center">
    <div class="compact">
        <h1 class="compact">Följ oss på sociala medier!</h1>
        <hr class="yellow-line">
    </div>
    <br><br>
    <div class="social-media-buttons">
        <a href="https://www.facebook.com/mediasbranschdag/">
            <div class="btn btn--icon btn--icon--big">
                <img class="btn--icon-image" src="img/icons/facebook.svg"  alt="" />
            </div>
        </a>
        <a href="https://www.instagram.com/mediasbranschdag/">
            <div class="btn btn--icon btn--icon--big">
                <img class="btn--icon-image" src="img/icons/instagram.svg"  alt="" />
            </div>
        </a>
    </div>
</div>

</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>