<div id="startpage__intro-screen" class="intro-screen__background" style="background-image:url('img/background/leaf_dark_blur.jpg')">
    <div id="start-logo">
        <svg class="start-logo-part" width="100%" height="100%" viewBox="0 0 499 467" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-141.408,-59.336)">
                <path d="M271.89,501.55C287,516.45 298.16,508.45 286.11,492.34C210.33,391 153.45,244.59 194,222.33C221.33,207.33 267.33,280.33 282.49,275.29C303.01,268.47 282.33,147.33 321.07,140.17C366.66,131.75 407.75,306.72 369.55,502.33C363.58,532.91 381.24,533.66 387.77,506.33C461.4,198.03 395.72,66.62 322.99,73.66C242.27,81.49 260.67,211 260.67,211C260.67,211 221.09,151.84 171.92,176.53C80,222.67 220.18,450.57 271.89,501.55Z" style="fill-rule:nonzero;"/>
            </g>
        </svg>
        <svg class="start-logo-part" width="100%" height="100%" viewBox="0 0 499 467" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-141.408,-59.336)">
                <path d="M425.08,106.5C439.64,100.35 502.75,77.83 510.13,93.94C518.76,112.77 469.75,128.34 476.67,153.17C482.33,173.51 582.34,129 593.59,170.06C604.42,209.58 547.39,222.25 487.57,242.12C445.63,256.05 463.33,303.48 506,294C578.78,277.83 662.33,231.67 634.01,157.79C613.1,103.27 537.91,123.23 537.91,123.23C537.91,123.23 554.34,101.44 542.74,79.41C517.66,31.78 435.17,82.08 419.09,95.67C412.44,101.28 418.59,109.24 425.08,106.5Z" style="fill-rule:nonzero;"/>
            </g>
        </svg>
        <svg class="start-logo-part" width="100%" height="100%" viewBox="0 0 499 467" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1,0,0,1,-141.408,-59.336)">
                <path d="M461.16,358.11C449.5,299.76 640.35,285 640.34,394.77C640.33,478.55 460.91,522.29 429.39,522.29C418,522.29 414.69,514.66 432.22,510.55C564,479.67 603.56,437 599.33,406.33C588.63,328.58 473.56,420.15 461.16,358.11Z" style="fill-rule:nonzero;"/>
            </g>
        </svg>
    </div>
    <div>
        <h1 id="start-mbd-title" class="compact">
            <span>{{MBDModel.lang_test}}</span>
            <span class="title-part">MEDIAS</span> 
            <span class="title-part">BRANSCH</span><span class="title-part">DAG</span>
        </h1>
        <div id="start-intro-info">
            <div class="start-intro-info__section">
                <img style="margin-left: 0.5vw" class="start-intro-icon" src="../img/icons/calendar_white.svg" alt="">
                <div class="horizontal-split"></div>
                <div>4 FEBRUARI 2020</div>
            </div>
            <div class="vertical-split"></div>
            <div class="start-intro-info__section">
                <img class="start-intro-icon" src="../img/icons/map_location_white.svg" alt="">
                <div class="horizontal-split"></div>
                <div>NYMBLE</div>
            </div>
        </div>
    </div>
    <div class="countdown-wrapper">
        <div class="countdown-block-container days-container">
            <div class="days countdown-time"></div>
            <div class="countdown-time-type">
                {{phrases()['days']}}
            </div>
        </div>
        <div class="horizontal-split"></div>
        <div class="countdown-block-container hours-container">
            <div class="hours countdown-time"></div>
            <div class="countdown-time-type">Timmar</div>
        </div>
        <div class="horizontal-split"></div>
        <div class="countdown-block-container minutes-container">
            <div class="minutes countdown-time"></div>
            <div class="countdown-time-type">Minuter</div>
        </div>
        <div class="horizontal-split"></div>
        <div class="countdown-block-container seconds-container">
            <div class="seconds countdown-time"></div>
            <div class="countdown-time-type">Sekunder</div>
        </div>
    </div>
    <div ng-click="scrollDown()" class="btn btn--icon intro-screen__scroll-down-btn">
        <img class="btn--icon-image" src="img/icons/arrows/down_black.svg"  alt="" />
    </div>
</div>


<div class="content-block content-wrapper--wide">
    <div id="welcome-text-container">
        <div id="welcome-text" class="hideme">
            <h1>Hej!</h1>
            <div class="line-gradient line-gradient--half line-gradient--helf--right"></div>
            <div>
                Inspiration och framtidstro.
                Det kommer kårhuset Nymble genomsyras av den 4e februari 2020 när dörrarna öppnas till Medias
                Branschdag!
                Vår årliga branschdagsmässa hålls för att studenter och företag ska kunna mötas för utbyten
                - oavsett om det som söks är ett eventuellt sommarjobb eller insikt i vad det egentligen innebär att
                jobba som medietekniker i praktiken.
                Branschdagen ger inte bara studenter ett smakprov på vad arbetslivet har att ge,
                utan bidrar likväl till att företagen får ett smakprov av vad framtida medieteknologer har att bidra
                med.
                <br><br>
                Vi ses på branschdagen i februari!
            </div>
            <div class="line-gradient line-gradient--half line-gradient--helf--left"></div>
        </div>
        <div id="projectLeaderWrapper">
            <div class="profile-container">
                <div style="background-image: url('img/profiles/projectleaders.jpg')" class="profile-image card">
                    <div class="profile-info__container">
                        <div class="profile-info__text-container">
                            <h3>Rasmus Rudling & <br> Ella Klara Westerlund</h3>
                            <h4>Projektledare</h4>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="center-background" style="background-image: url('img/background/purple_chives_blur.jpg');">
    <div class="content-wrapper--wide content-block list-wrapper">
        <div class="hideme">
            <!-- <div class="text-wrapper--center text-dark-background">
                <img style="width:100px;height:auto" src="img/icons/company.png" alt="" />
                <h2>Vill ditt företag vara med på Medias Branschdag?</h2>
                <p class="" style="">
                    Tyvärr är ansökan stängd för iår, men det finns fortfarande möjlighet till andra samarbeten med medieteknik. Näringslivsgruppen finns till för att hjälpa er nå våra studenter genom både event och marknadsföring. 
                </p>
                <a href="https:/www.facebook.com/NLGmedieteknik/" target="_blank" class="myButton" style="background-color: #ffffff;">Läs mer</a>
            </div>
            <br> -->
            <div class="text-wrapper--center text-dark-background">
                <img style="width:100px;height:auto" src="img/icons/student.png" alt="" />
                <h2>Är du en student?</h2>
                <p>
                    Läs mer om vilka företag som ställer ut på Medias Branschdag 2020.
                    Kanske hittar du din framtida arbetsgivare redan nu?
                </p>
                <br>
                <a href="#/students" class="btn btn--compact">
                    Läs mer
                </a>
            </div>
        </div>
    </div>    
</div>

<div class="content-block content-wrapper--wide center">
    <div class="compact">
        <h1 class="compact">Medias Branschdag på Instagram!</h1>
        <hr class="yellow-line">
    </div>
    <br><br>

    <div class="list-wrapper">
        <div class="instagram-container card card--clickable" ng-repeat="post in getInstagram()">
            <a ng-href="{{post.link}}" target="_blank">
                <div style="background-image: url('{{post.images.standard_resolution.url}}')" class="instagram-image {{post.class}}" alt="Instagram image"></div>
            </a>
            <div class="instagram-like-container">
                <img class="instagram-heart" src="img/icons/heart_white_stroke.svg" alt="" /> 
                <span class="instagram-like-count">{{post.likes.count}}</span>
            </div>
        </div>
    </div>
</div>

<div class="content-block content-wrapper--wide center">
    <div class="compact">
        <h1 class="compact">Följ oss på sociala medier!</h1>
        <hr class="yellow-line">
    </div>
    <br><br>
    <div class="social-media-buttons">
        <a href="https://www.facebook.com/mediasbranschdag/">
            <div class="btn btn--icon btn--icon--big">
                <img class="btn--icon-image" src="img/icons/facebook.svg"  alt="" />
            </div>
        </a>
        <a href="https://www.instagram.com/mediasbranschdag/">
            <div class="btn btn--icon btn--icon--big">
                <img class="btn--icon-image" src="img/icons/instagram.svg"  alt="" />
            </div>
        </a>
    </div>
</div>

</div>

<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>