<div class="intro-screen__background" style="background-image:url('img/background/street_dark_blur.jpg')">
    <div class="intro-screen__top-content">
        <div class="intro-screen__text">
            <h1 style="font-weight: 900">FÖR STUDENTER</h1>
            <hr class="yellow-line">
        </div>
    </div>
    <div class="intro-screen__link-container content-wrapper">
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#party-section')">
            <h2>Sittningen</h2>
            <div class="intro-screen__link-icon">
                <img style="height: 75%" src="../img/icons/tickets_black.svg" alt="">
            </div>
        </div>
        <div class="btn intro-screen__link-btn" ng-click="scrollTo('#company-list-section')">
            <h2>Utställare</h2>
            <div class="intro-screen__link-icon">
                <img src="../img/icons/booth_black.svg" alt="">
            </div>
        </div>
    </div>
    <div ng-click="scrollDown()" class="btn btn--icon intro-screen__scroll-down-btn">
        <img class="btn--icon-image" src="img/icons/arrows/down_black.svg"  alt="" />
    </div>
</div>

<div id="companySection">
    <div id="company-list-section" class="content-block content-wrapper">
        <div class="center">
            <div class="compact">
                <h1 class="compact">Utställare</h1>
                <hr class="yellow-line">
            </div>
        </div>

        <div ng-if="companies.length == 0">
            <br>
            <h2 class="center">Branschdagen förbereds för nuvarande...</h2>
            <br>
        </div>


        <div id="contentWrapper" ng-if="companies.length != 0">
            <h2>{{name}}</h2>
            <div class="company-container">
                <div ng-click="incrementIndex(1)" class="btn btn--icon company-change-btn company-change-btn--right">
                    <img class="btn--icon-image" src="img/icons/arrows/right_black.svg" alt="">
                </div>
                <div ng-click="incrementIndex(-1)" class="btn btn--icon company-change-btn company-change-btn--left">
                    <img class="btn--icon-image" src="img/icons/arrows/left_black.svg" alt="">
                </div>

                <div class="company__description">
                    <img class="company__logo" src="img/companies/{{image}}" alt="">
                    <div class="company__description-overflow"></div>
                    <div ng-if="!description">
                        <p>Mer information kommer snart</p>
                    </div>
                    <div ng-if="description">
                        <p>{{description}}</p>
                    </div>
                </div>
                <div id="show-company-description-btn" class="btn btn--compact" target="_blank" ng-click="toogleCompanyText()">
                    Läs mer
                </div>
                <a class="btn btn--compact" target="_blank" ng-href="http://{{website}}">
                    Gå till företaget
                </a>
            </div>
            <br>
            <div class="row-alignment-container--three">
                <div ng-class="{'company__card-active': $index == number}" ng-click="showCompany(company, $index)" class="card card--light card--clickable row-alignment-item--three company__card" ng-repeat="company in companies">
                    <div class="contain-background" style="background-image: url('img/companies/{{company.logo}}')"></div>
                </div>
            </div>
        </div>
    </div>

<div id="party-section" class="center-background" style="background-image: url('img/background/systerobror.png');">
    <div class="content-wrapper--wide content-block list-wrapper">
        <div class="hideme">
            <div class="text-wrapper--center text-dark-background">
                <div class="compact">
                    <h1 class="compact">Branschdagssittningen</h1>
                    <hr class="yellow-line">
                </div>
                <p>
                    Medias Branschdag kommer att avslutas med en sittning där företag och studenter får chansen 
                    att utveckla samtal om framtiden mer på djupet. Detta är en utmärkt möjlighet för företag att 
                    ta del av Medietekniks många traditioner och lära känna potentiella framtida kollegor på ett 
                    mer avslappnat plan.
                    <br/><br/>
                    Sittningen kommer även vara ett ypperligt tillfälle för studenter att få marknadsföra sig 
                    själva som civilingenjörer. Vi ser fram emot att få anordna en spektakulär kväll och vi 
                    hoppas att ni är lika upprymda som vi är!
                    <br/><br/>
                    Sittningen börjar 18:00.
                    Mer detaljerad information kommer upp allt eftersom på vår 
                    <a href="https://www.facebook.com/events/564321737680291/" onMouseOver="this.style.color='#3366BB'" onMouseOut="this.style.color='#FFD521'" style="color: #FFD521;"> Facebook-sida</a>.
                </p>
            </div>
        </div>
    </div>    
</div>
<ng-include src="'partials/footer.html'" ng-controller="FooterCtrl"></ng-include>
