.loader {
    width: 3em;
    height: 3em;
    margin-top: 20px;
    -webkit-animation: bounce 1.8s infinite ease-in-out;
    animation: bounce 1.8s infinite ease-in-out;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
}
