.guest-form {
    overflow: hidden;
    transition: height 2s;
}

.guest-form .input-info-container {
    height: auto;
}

.company-rep {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

@media screen and (max-width: 700px) {
    .company-rep {
        display: flex;
        flex-direction: column;
    }
}
