.course-cont {
    padding: 1em;
}

.course {
    font-size: 0.9em;
    padding-bottom: .2em;
    cursor: pointer;
    border-left: 1px solid transparent;
}

.course:hover {
    background-color: #fff;
}

.course.selected {
    border-left: 1px solid var(--theme-primary-color-normal);
    background-color: #fff;
    font-weight: bold;
}

.course-attributes {
    font-size: 0.9em;
    font-style: italic;
}

@media screen and (max-width: 700px) {
    .course-cont {
       grid-template-columns: 1fr !important; 
    }

    .course-cont .course {
        padding: 0.2em 0 0.2em 0;
    }
}