.contactform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

@media screen and (max-width: 650px) {
    .contactform {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
}