.quantity-table h2 {
    word-wrap: break-word;
}

.quantity-stats {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1em;
    row-gap: 0.5em;
    padding-bottom: 1em;
}

.quantity-stat {
    display: contents;
}
