.dinner-admin-log-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.dinner-admin-center {
    display: flex;
    justify-content: center;
}

.allergies div {
    padding: 0.25em 0;
}