.companypage-offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;

    margin-bottom: 25px;
}

.companypage-fair {
    position: relative;
    overflow: hidden;
}

.companypage-map-background {
    position: absolute;
    z-index: -1;
    height: 200%;
    width: 200%;
    top: -50%;
    left: -50%;

    background-size: auto 100%;
    background-position: center;

    transform: translateX(175px);
}

.companypage-map-background-fade {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;

    background: rgb(255,255,255);
    background: linear-gradient(
        90deg, 
        rgba(255,255,255,0.6) 0%, 
        rgba(255,255,255,0.6) 40%, 
        rgba(255,255,255,0) 55%
    );
}

@media screen and (max-width: 700px) {
    .companypage-offer {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 15px;
    }

    .companypage-see-map-box {
        height: 125px;
    }
    .companypage-map-background {
        transform: translateY(275px) translateX(-50px);
    }
    .companypage-map-background-fade {
        background: linear-gradient(
            180deg, 
            rgba(255,255,255,0.6) 0%, 
            rgba(255,255,255,0.6) 60%, 
            rgba(255,255,255,0) 75%
        );
    }
}

@media screen and (max-width: 500px) {
    .companypage-offer {
        column-gap: 0;
        grid-template-columns: repeat(1, 1fr);
    }
}