.homepage-intro-content {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.homepage-instagram-section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 25px;
    row-gap: 25px;
}

.homepage-social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 250px;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .homepage-instagram-section {
        grid-template-columns: repeat(2, auto);
        column-gap: 15px;
        row-gap: 15px;
    }
}