.sign-up-form {
    text-align: initial;
}

.sign-up-error-message {
    color: var(--theme-text-error);
}

.sign-up-opportunities {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
    .sign-up-opportunities {
        grid-template-columns: 1fr;
    }
}
