@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--theme-light-color-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0 !important;
  overflow: auto !important;
}

a {
  color: unset;
  text-decoration: none;
}